<div class="row">
  <div class="col-10 pb-2">
    <span class="mat-h2 pt-4">Login Account</span>
  </div>
  <div class="row pb-3">
    <div class="col-12">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="col-12">
    <form name="form" novalidate>
      <div class="col-6">
        <mat-form-field class="w-full" outline>
          <mat-label>Email</mat-label>
          <input matInput name="email" placeholder="Enter your email" maxlength="250" [(ngModel)]="model.email"
          #email="ngModel" required>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field class="w-full" outline> 
            <mat-label>Password</mat-label>
          <input matInput name="password" placeholder="Enter your password" maxlength="250" [(ngModel)]="model.password"
            #password="ngModel" required>
        </mat-form-field>
      </div>
      <div class="row mt-3">
        <div class="col-12 text-right">
          <button type="button" mat-raised-button class="mr-2"> 
            <span class="text-primary"  [routerLink]="['/account/signup']">Signup</span>
          </button>
          <button type="submit" (click)="submit()" mat-raised-button color="primary">
            <mat-icon>save</mat-icon> Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
